.u-section-1 .u-sheet-1 {
  min-height: 1181px;
}

.u-section-1 .u-image-1 {
  width: 459px;
  height: 459px;
  margin: 241px auto 0 32px;
}

.u-section-1 .u-image-2 {
  width: 376px;
  height: 834px;
  margin: -743px auto 0 56px;
}

.u-section-1 .u-shape-1 {
  width: 559px;
  height: 206px;
  margin: -162px auto 0 23px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -778px 159px 0 514px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 43px 82px 0 514px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 94px;
  margin: 9px 312px 60px 667px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 332px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-2 {
    height: 833px;
    margin-top: -833px;
    margin-left: 15px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -157px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -831px;
    margin-right: 50px;
    margin-left: 573px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 50px;
    margin-left: 573px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 212px;
    margin-left: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 339px;
    margin-left: -16px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -845px;
    margin-left: -16px;
  }

  .u-section-1 .u-shape-1 {
    height: 218px;
    margin-top: -168px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -812px;
    margin-right: -18px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 25px;
    margin-left: 410px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 37px;
    margin-right: 79px;
    margin-left: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5594px;
  }

  .u-section-1 .u-image-1 {
    width: 304px;
    height: 304px;
    margin-top: 363px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 304px;
    height: 564px;
    margin-top: -581px;
    margin-left: -15px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -746px;
    margin-right: 0;
    margin-left: 250px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: 11px;
    margin-left: 300px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 25px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5486px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 583px;
    margin-left: 17px;
  }

  .u-section-1 .u-image-2 {
    width: 168px;
    height: 372px;
    margin-top: -441px;
    margin-left: 67px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -70px;
    margin-right: -17px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -950px;
    margin-right: -97px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 17px;
    margin-left: 36px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 161px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}