.u-section-1 .u-sheet-1 {
  min-height: 1816px;
}

.u-section-1 .u-text-1 {
  margin: 34px 281px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px 59px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 272px;
  height: 513px;
  margin: -19px auto 0 82px;
}

.u-section-1 .u-text-3 {
  margin: -485px 309px 0 446px;
}

.u-section-1 .u-text-4 {
  margin: 12px 231px 0 446px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 63px 124px 0 446px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: 72px 221px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 107px;
  margin: 18px 124px 0 446px;
}

.u-section-1 .u-text-7 {
  margin: 18px 203px 0 446px;
}

.u-section-1 .u-text-8 {
  margin: 292px 694px 60px 72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-image-1 {
    height: 514px;
    margin-top: 105px;
  }

  .u-section-1 .u-text-3 {
    width: 385px;
    margin-top: -610px;
    margin-right: 209px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -306px;
    margin-right: 131px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 290px;
    margin-right: 24px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -156px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 12px;
    margin-right: 24px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 103px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 566px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 215px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 99px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 21px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 150px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 150px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 110px;
    margin-left: 236px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 161px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -571px;
    margin-right: 9px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -336px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 189px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -9px;
    margin-right: 166px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -77px;
    margin-right: 20px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 64px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: -569px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -234px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 87px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
    margin-right: 105px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -89px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -341px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 207px;
}