.u-section-1 .u-sheet-1 {
  min-height: 1816px;
}

.u-section-1 .u-text-1 {
  margin: 34px 281px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px 59px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 272px;
  height: 513px;
  margin: -19px auto 0 82px;
}

.u-section-1 .u-text-3 {
  margin: -485px 309px 0 446px;
}

.u-section-1 .u-text-4 {
  margin: 12px 231px 0 446px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 63px 124px 0 446px;
}

.u-section-1 .u-text-6 {
  text-align: left;
  margin: 72px 221px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 107px;
  margin: 18px 124px 0 446px;
}

.u-section-1 .u-text-7 {
  margin: 18px 203px 0 446px;
}

.u-section-1 .u-text-8 {
  margin: 292px 694px 60px 72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 514px;
    margin-top: -65px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -549px;
    margin-right: 209px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -231px;
    margin-right: 131px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 357px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 54px;
    margin-right: 71px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 79px;
    margin-left: 370px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 103px;
    margin-right: 566px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 489px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1103px;
    margin-right: 246px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 91px;
    margin-right: 168px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 27px;
    margin-right: 61px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 55px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 31px;
    margin-right: 61px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-7 {
    width: 516px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 517px;
    margin-right: 331px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 618px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1117px;
    margin-right: 155px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
    margin-right: 77px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 12px;
  }

  .u-section-1 .u-form-1 {
    height: 203px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 599px;
    margin-right: 166px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 723px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1169px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 850px;
    margin-right: 0;
    margin-bottom: 44px;
  }
}